{% extends 'base.html' %}

{% block title %}
    Новая операция
{% endblock %}


{% block content %}
<!-- Features section-->
  <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
  </style>
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <img src="/static/img/Дизайн без названия.png" width='200px' alt="Avatar" class="leftimg">
                        <h2 class="h4 fw-bolder">Тимофей Егоров</h2>
                        <p>Тимофей Егоров профи своего дела и батя
                            солидарен. Как по мне - лучший!</p>

                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <img src="/static/img/Дизайн без названия (1).png" width='200px' alt="Avatar" class="leftimg">
                        <h2 class="h4 fw-bolder">Елена Егорова</h2>
                        <p>Елена Егорова красотка, красавица и актриса, безумно талантливая. В детстве (да и сейчас она взрослая женщина с идеальной фигурой и выразительным взглядом) я успела дважды видеть её в фильмах и сериалах. Первый фильм - телешоу "Универ-Новая общага" с любимыми актёрами. В фильме "Свадьба лучшего друга" она играла главную роль - Кристину, подругу Жени. Может тогда это и послужило толчком для того, что я захотела с ней познакомиться. Видела я её всего один раз, но это было феерично - Дарья Кирсанова и Елена Егорова. Дашу я с удовольствием пересматривала. А очень милая девушка Елена Егоровна мне так приглянулась, что у меня возник вопрос: " А где она снимается?" Решила поискать и нашла. Тем более есть такая замечательная актриса, как Елена Егоровна.
                            Ссылки на фильмы и ролики с актрисой:
                            Елена попова жж karmenk.livejournal.com/711479.html
                            Елены Егорова жж svmol</p>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}

